/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #e7e7e7;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #f66a46;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.btn:hover {
    background: #69727c29;
    text-decoration: none;
    cursor: pointer;
}

/* Container styling */
.container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header styling */
.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 36px;
    color: #f66a46;
}

/* Chat log styling */
#chat-log {
    max-height: 520px;
    overflow-y: auto;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Input container styling */
#input-container {
    display: flex;
    margin-top: 20px;
}

#user-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
}

#send-btn {
    padding: 10px 20px;
    background-color: #f66a46;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#send-btn:hover {
    background-color: #f66a46;
}

/* Logout button styling */
.logout-btn {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #c82333;
}

.options {
    position: sticky;
    top: -11px;
    background: #f5f5f5;
    padding: 10px;
}

.user-message {
    text-align: right;
    color: #757474;
    background: white;
    padding: 10px;
    border-radius: 10px 10px 0px 10px;
    border: 1px solid #c3c3c3;
    margin: 12px 0px 12px 30px;
    box-shadow: 0 1px 2px #cecece;
    overflow-wrap: break-word;
}

.bot-message {
    text-align: left;
    color: #f66a46;
    padding: 10px;
    border-radius: 10px 10px 10px 0px;
    margin: 12px 30px 12px 0px;
    box-shadow: 0 1px 2px #cecece;
    border: 1px solid #f66a46;
    overflow-wrap: break-word;
}

.message {
    text-align: left;
    color: white;
    background: #f66a46;
    padding: 10px;
    border-radius: 10px 10px 10px 0px;
    margin: 12px 30px 12px 0px;
    box-shadow: 0 1px 2px #cecece;
}